<ion-view view-title="Habit Home">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-icon" ng-click="navCreateClick()">
      <i class="ion-edit"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">

       <div class="item item-divider">
         Tasks
         <ion-list>
            <ion-item ng-repeat="task in allTasks" ng-show="isTaskActiveToday(task)" ng-click="incCount(task); ">
               {{task.name}}
               <br>
               Count: {{countProgress(task)}}
               <br>
               <div  ng-controller="TimerCtrl">
                 {{minutes}} Minutes {{seconds}} Seconds
                 <br>
                    Real time: {{progressTimer(task)}}
                 <br>
                  <button class="button button-stable" ng-click="startTimer(task); $event.stopPropagation(); progressTimer(task); $event.stopPropagation();"> Start </button>
                  <button class="button button-stable" ng-click="stopTimer(task); $event.stopPropagation();"> Stop </button>
               </div>
            </ion-item>
         </ion-list>
       </div>

</div>

  </ion-content>
</ion-view>
