<ion-view view-title="Today">
  <ion-nav-buttons id="10" side="secondary">
    <button class="button button-clear button-icon" ng-click="navCreateClick();">
      <i class="ion-plus"></i>
    </button>
  </ion-nav-buttons>
  <ion-content id="home-bg">
    
    <div class="circle-container" ng-repeat="task in allTasks" ng-if="shouldDisplayInCurrent(task)">
      <task-icon></task-icon>   
      <div on-touch="clickCircleDiv(task)" on-release="releaseCircleDiv(task)">
        <progress-circle></progress-circle>
      </div>
      <div class="row">
        <div class="col text-center">
          <h6 class="home-subtext" ng-if="!(task.isCount)">Total Time: {{displayTotalTimer(task)}}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h4 class="home-circle-title" ><b>{{task.name}}</b></h4>
          <!--<div ng-if="$index != allTasks.length - 1">-->
            <br><hr class="hr-viewall2">
          <!--</div>-->
        </div>
      </div>   
    </div>
    
  </ion-content>
</ion-view>