
<ion-view view-title="Habit All">
  <!-- Create new task button -->
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-icon" ng-click="navCreateClick()">
      <!-- <i class="ion-edit"></i> -->
    </button>
  </ion-nav-buttons>
  
  <ion-content>
           
<ion-list>
    
    <!-- Search Button -->
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Search..." ng-model="searchText">
    </label>

<div class = "CurrentOrOther">
    
    <div class="item item-divider">
      <h1>Current</h1>
    </div>
    
    <div ng-repeat= "task in tasks | filter:searchText" ng-show="shouldDisplayInCurrent(task)">
    <task-info></task-info>
    </div>
    
    <div class="item item-divider">
      <h1>Other</h1>
    </div>
    
    <div ng-repeat= "task in tasks | filter:searchText" ng-hide="shouldDisplayInCurrent(task)">
      
    <task-info></task-info>
    </div>

</div>
    
</ion-list>
</ion-content>
</ion-view>

