<ion-view view-title="Habits">
  <ion-content>
    <div class="my-list">

      <!-- Search Box -->
      <label class="my-item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search for a task..." ng-model="searchText">
      </label>

      <!-- Current -->
      <div class="my-item my-item-divider">Current</div>
      <task-info ng-repeat="task in tasks | filter:searchText" ng-if="shouldDisplayInCurrent(task)"></task-info>
      

      <!-- Other -->
      <div class="my-item my-item-divider">Other</div>
      <task-info ng-repeat="task in tasks | filter:searchText" ng-if="!shouldDisplayInCurrent(task)"></task-info>
    
    </div>
  </ion-content>
</ion-view>