<html ng-app="tracktr.controllers">

<body>

<ion-view view-title="All Tasks">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-icon" ng-click="navCreateClick()">
      <i class="ion-edit"></i>
    </button>
    
  </ion-nav-buttons>
  
  <ion-content>

<ion-list ng-controller="HabitAllController">
  
  

<!--<ion-item ng-repeat="item in items">-->
  
  <ion-toggle ng-repeat="item in items"  ng-model="item.isActive" ng-check="item.isActive">
  
  <h1>{{item.name}}</h1>
  <p>{{item.progress}}/{{item.goal}}</p>
  <p>{{item.isActive}} Note: Keep it here for now for testing purposes....</p>
  
  </ion-toggle>
  
<!--</ion-item>-->



</ion-list>

</ion-content>
  
  
</ion-view>

</body>

</html>
