<html ng-app="tracktr.controllers">

<body>

<ion-view view-title="All Tasks">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-icon" ng-click="navCreateClick()">
      <i class="ion-edit"></i>
    </button>
    
  </ion-nav-buttons>
  
  <ion-content>

<ion-list ng-controller="HabitAllController">
  
  <div class = "CurrentOrOther">
    
    <div class="item item-divider">
      <h1>Current</h1>
    </div>
    
  <div ng-repeat= "group in groups">
    
    
    <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
      
      <ion-toggle ng-model="group.task.isActive" ng-check="group.task.isActive">
      
     
        <i class="icon" ng-class="isGroupShown(group)? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
        <h2>{{group.task.name}}</h2>
        <p>TODO: Implement description</p>
        <p>{{group.task.isActive}} Note: Keep it here for now for testing purposes....</p>
        
        </ion-toggle>
        
    </ion-item>

      <ion-item class="item-accordion" ng-repeat="option in group.options" ng-show="isGroupShown(group)" ng-click="buttonHandler(option, group.task)">

      {{option}}
      
      </ion-item>
    
    
  </div>
  
  <div class="item item-divider">
      <h1>Other</h1>
    </div>
    
  </div>
    
</ion-list>

</ion-content>
  
  
</ion-view>

</body>

</html>
