<html ng-app="tracktr.controllers">

<body>

<ion-view view-title="All Tasks">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-icon" ng-click="navCreateClick()">
      <i class="ion-edit"></i>
    </button>
    
  </ion-nav-buttons>
  
  <ion-content>

<ion-list ng-controller="HabitAllController">
  
  <div ng-repeat= "group in groups">
    
    
    <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
      
      <ion-toggle ng-model="group.name.isActive" ng-check="group.name.isActive">
        
        
      <i class="icon" ng-class="isGroupShown(group)? 'ion-minus' : 'ion-plus'"></i>
      &nbsp;
      <h2>{{group.name.name}}</h2>
        <p>{{group.name.isActive}} Note: Keep it here for now for testing purposes....</p>
        
        </ion-toggle>
        
    </ion-item>
    
    <!--<ion-item class="item-accordion" ng-repeat="option in group.options" ng-show="isGroupShown(group)">
      
      {{option}}
     
      </ion-item>-->
      <ion-item class="item-accordion" ng-repeat="option in group.options" ng-show="isGroupShown(group)" ng-click="doSomething()">

      {{option}}
      
      </ion-item>
    
    
  </div>
    
<!--<ion-item >-->
  
  <!--<ion-toggle ng-repeat="item in items"  ng-model="item.isActive" ng-check="item.isActive">
  <h1>{{item.name}}</h1>
  <p>{{item.progress}}/{{item.goal}}</p>
  <p>{{item.isActive}} Note: Keep it here for now for testing purposes....</p>
  </ion-toggle>-->
  
<!--</ion-item>-->



</ion-list>

</ion-content>
  
  
</ion-view>

</body>

</html>
