<ion-view view-title="Progress Report">
    <ion-nav-buttons id="10" side="primary">
    <button class="button button-clear button-icon" ng-click="goBack()" nav-direction="back">
      <i class="ion-chevron-left"></i>
    </button>
  </ion-nav-buttons> 
  <ion-content ng-init="loadWeeklyProgress(0)">
    <h3>Task Name: {{task.name}}</h3>
    <br>
    <div class="button-bar">
       <a class="button button-outline button-positive" ng-click="showDaily()"> Daily </a>
       <a class="button button-outline button-positive" ng-click="showMonthly()"> Monthly </a>
       <a class="button button-outline button-positive" ng-click="showWeekly()"> Weekly </a>
    </div>
    
    <div ng-if="isWeekly">
      <br>
      <div class="row">
        <a class="button icon-left ion-chevron-left button-small button-clear button-positive" ng-click="previousWeek()">Previous week</a>
        <p class="col text-center">Week: {{currentWeek}}</p>
        <a class="button icon-right ion-chevron-right button-small button-clear button-positive" ng-click="nextWeek()">Next week</a>
      </div>
      <br>
      <canvas id="bar" class="chart chart-line"
          chart-data="data" chart-labels="labels" on-swipe-right="previousWeek()" on-swipe-left="nextWeek()">
      </canvas>
    </div>
    
    <div ng-if="isDaily">
      <br>
      <div class="row">
        <a class="button icon-left ion-chevron-left button-small button-clear button-positive" ng-click="previousDay()">Previous Day</a>
        <p class="col text-center">Date: {{currentDay}}</p>
        <a class="button icon-right ion-chevron-right button-small button-clear button-positive" ng-click="nextDay()">Next Day</a>
      </div>
      <br>
      <canvas id="bar" class="chart chart-line"
          chart-data="data" chart-labels="labels" on-swipe-right="previousDay()" on-swipe-left="nextDay()">
      </canvas>
    </div>
      
    <div ng-if="isMonthly">
      <br>
      <div class="row">
        <a class="button icon-left ion-chevron-left button-small button-clear button-positive" ng-click="previousYear()">Previous Year</a>
        <p class="col text-center">Year: {{currentYear}}</p>
        <a class="button icon-right ion-chevron-right button-small button-clear button-positive" ng-click="nextYear()">Next Year</a>
      </div>
      <br>
      <canvas id="bar" class="chart chart-line"
          chart-data="data" chart-labels="labels" on-swipe-right="previousYear()" on-swipe-left="nextYear()">
      </canvas>
    </div>
  </ion-content>
</ion-view>
