<ion-view view-title="Progress Report">
    <ion-nav-buttons id="10" side="primary">
    <button class="button button-clear button-icon" ng-click="goBack()" nav-direction="back">
      <i class="ion-chevron-left"></i>
    </button>
  </ion-nav-buttons> 
  <ion-content>
    Task Name: {{task.name}}
    <br>
    Date: {{currentDay}}
    <div ng-init="loadDailyProgress(0)">
      <canvas id="bar" class="chart chart-line"
          chart-data="data" chart-labels="labels">
      </canvas>
      <div>
        <button ng-click="previousDay()">Previous Day</button>
        <button ng-click="nextDay()">Next Day</button>
      </div>
      
      <button ng-click="updateToPrevious()">Previous week</button>
      <button ng-click="updateToCurrent()">Next week</button>
    </div>
    
    

  </ion-content>
</ion-view>
