<!--Displays the information of a task along with options to view,edit, delete.-->

<!--<div ng-repeat= "group in groups">-->
        
      <ion-item class="item-stable" ng-click="toggleGroup(item)" ng-class="{active: isGroupShown(item)}">
        <ion-toggle ng-model="item.isActive" ng-check="item.isActive" ng-change="updateIsActive(item)">
        <i class="icon" ng-class="isGroupShown(item)? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        <h2>{{item.name}}</h2>
        <p>{{retrieveDescription(item)}}<p>
        <p>{{item.isActive}} Note: Keep it here for now for testing purposes....</p>
        </ion-toggle>
        
      </ion-item>
      
      <!-- Displays options -->
      <!--<ion-item class="item-accordion" ng-repeat="option in group.options" ng-show="isGroupShown(group)" ng-click="buttonHandler(option, group.task)">
      {{option}}
      </ion-item>-->
      <ion-item class="item-accordion" ng-repeat="option in options" ng-show="isGroupShown(item)" ng-click="buttonHandler(option, item)">
      {{option}}
      </ion-item>
  
 <!--</div>-->