<!-- Displays the information of a task along with options to view, edit, delete, share, and view chart. -->
<div class="my-item viewall-custom" ng-class="{active: isGroupShown(task)}">

        <!-- Text and Subtext -->
        <div class="my-item item-toggle item-toggle-custom">
                <h2>{{task.name}}</h2>
                <h4 class="viewall-subtext">{{retrieveData(task)}}</h4>
                <h4 class="viewall-subtext" ng-if="task.isImported" ng-init="getImportedName(task)">Imported from: {{task.friendName}}</h4>
                <!--<hr class="hr-viewall">
                <hr class="hr-viewall2">-->

                <!-- Active/Inactive Toggle -->
                <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="task.isActive" ng-check="task.isActive" ng-change="updateIsActive(task)">
                        <div class="track">
                                <div class="handle"></div>
                        </div>
                </label>
        </div>

        <!-- Edit, Chart, Share, Delete buttons -->
        <div class="button-row row button-viewall-custom">
                <div class="col text-center">
                        <button class="button button-small icon ion-edit button-light button-viewall-custom" ng-click="buttonHandler('Edit', task)"></button>
                </div>
                <div class="col text-center">
                        <button class="button button-small icon ion-stats-bars button-light button-viewall-custom" ng-click="buttonHandler('View Report', task)"></button>
                </div>
                <div class="col text-center">
                        <button class="button button-small icon ion-trash-a button-light button-viewall-custom" ng-click="buttonHandler('Delete', task)"></button>
                </div>
                <div class="col text-center">
                        <button class="button button-small icon ion-social-facebook button-positive button-viewall-custom" ng-click="buttonHandler('Share', task)" ng-if="task.isShared"></button>
                        <button class="button button-small icon ion-social-facebook button-light button-viewall-custom" ng-click="buttonHandler('Share', task)" ng-if="!task.isShared"></button>
                </div>
        </div>

</div>