<ion-view view-title="Friends">
  <ion-content>

    <div class="list">
      
      <div id="friend-label">Me</div>        
      <!-- Authentication -->
      <div class="auth-container">
        <!-- User profile if authenticated -->      
        <div class="item" ng-show="isAuthenticated">
          <img class="fb-profile-picture" ng-src="{{profile_url}}"/>
          <div class="fb-name">{{ name }}</div>
        </div>
        
        <!-- Login Button, only shown if the user is not logged in -->
        <div class="item item-button-right" ng-show="(isAuthenticated == false)" ng-click="fbAuthentication()">
          Login with Facebook
          <button class="button button-positive">
            <i class="icon ion-social-facebook"></i>
          </button>
        </div>
      
        <!-- Logout Button, only shown if logged in -->
        <div class="item item-button-right" ng-show="isAuthenticated" ng-click="logout()">
          Logout of Facebook
        </div>
      </div>
    </div>
    
    <div id="friend-label" ng-show="isAuthenticated">Facebook Friends</div>
    <div class="list" ng-show="isAuthenticated">
      <div ng-repeat="friend in friends">
        <div class="item item-divider friend-divider">
          <img class="fb-profile-picture" ng-src="{{friend.picture_url}}"/>
          <div class="fb-name">{{ friend.name }}</div>
        </div>
        <div class="no-share" ng-show="friend.sharedTasks.length == 0">
          {{friend.name}} is not sharing any habits right now.
        </div>
        <div ng-repeat= "task in friend.sharedTasks | filter:searchText">
          <shared-task-info></shared-task-info>
        </div> 
      </div>
    </div>
    
  </ion-content>
</ion-view>
