/* Empty. Add your own CSS if you like */
* {
    font-family: 'helvetica neue' !important;
    font-weight: 400 !important;
}

.popup-vertical-buttons button
{
     min-width: 100%;
     margin-bottom: 5px;
}
.popup-vertical-buttons .popup-buttons
{
     display: block;
}

 .icon-custom {
     font-size: 40px;
     padding: 2px;
 }
 
 .icon-custom-selected {
     color: rgb(14, 122, 254);
     font-size: 40px;
 }
 
 .icon-col,
 .icon-row {
     text-align: center;
 }
 
.progress-circle {
    height: 120px;
}
.progress-circle > svg {
    height: 100%;
}

.circle-button {
    width: 50%;
}

.home-bg {
    background-color: whitesmoke;
}

.icon-colored {
    /*color: darkgray;*/
    color: #6FD57F;
    font-size: 30px;
    margin: 0px;
    position: absolute; 
}

.count-button {
    width: 100%;
    border-radius: 5px 20px 5px;
}

.bar-custom {
    background-color: #FC5B3F !important;
}



/* All Page */
.all-divider{
    font-family: helvetica neue;
    margin: 10px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 200;
    color: gray;
}


.all-item.item.item-stable {
    border-color: whitesmoke;
    background-color: whitesmoke;
    padding: 10px;
}
/* Authentication */
.auth-container {
    padding: 10px;
    background-color: whitesmoke;
}


/* Facebook */
.fb-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

.fb-name {
    display: inline-block;
    margin-top: 16px;
    color: gray;
    font-size: 20px;
    font-family: helvetica neue;
    font-weight: 300;
    float: right;
    margin-right: 10px;
}

.friend-divider {
    background: white;
    margin: 10px;
}

#friend-label {
    font-family: helvetica neue;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 200;
    color: gray;
}

ion-content {
    background: whitesmoke;
}