/* Empty. Add your own CSS if you like */
.popup-vertical-buttons button
{
     min-width: 100%;
     margin-bottom: 5px;
}
.popup-vertical-buttons .popup-buttons
{
     display: block;
}

 .icon-custom {
     font-size: 40px;
     padding: 2px;
 }
 
 .icon-custom-selected {
     color: rgb(14, 122, 254);
     font-size: 40px;
 }
 
 .icon-col,
 .icon-row {
     text-align: center;
 }
 
.progress-circle {
    height: 120px;
}
.progress-circle > svg {
    height: 100%;
}

.circle-button {
    width: 50%;
}

.home-bg {
    background-color: whitesmoke;
}

.icon-colored {
    color: darkgray;
    font-size: 30px;
    margin: 0px;
    position: absolute; 
}

.count-button {
    width: 100%;
}